/*
    颜色变量
*/

// 主题色
$brand-primary-light:               #ffa57d !default;
$brand-primary-mid:                 #fe8e79 !default;
$brand-primary-dark:                #fd7875 !default;

// 明暗色调
$white:                             #ffffff !default;
$white-base:                        #fdfcfc !default;
$white-mid:                         #efefef !default;
$white-darkest:                     #f5f2f0 !default;

$gray-base:                         #999999 !default;
$gray-mid:                          #666666 !default;
$gray-darkest:                      #333333 !default;