@import '../../assets/scss/index.scss';

@function doubleRem ($n) {
    @return px2rem($n) * 2;
}

.communit-title {
    width: 100%;
    height: doubleRem(38);
    line-height: doubleRem(38);
    font-size: doubleRem(16);
    font-family: ArialMT;
    color: #333333;
    position: relative;
    padding-left: doubleRem(20);
    &:before {
        content: '';
        position: absolute;
        left: doubleRem(10);
        top: doubleRem(10);
        width: doubleRem(2);
        height: doubleRem(18);
        background-image: linear-gradient(to top, #fd6165, #ffa370);
    }
}
.communit-content {
    width: 100%;
    height: doubleRem(170);
    img {
        width: 100%;
        height: 100%;
    }
}